#top{
    background-color:gold;
    text-align: center;
}
#hi{
    background-color:khaki;
}
#made{
    font:italic;
    color:greenyellow;
    text-align: center;
}
#center{
    background-color: lightslategrey;
    
}
